---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <header>
    <Image src={entry.data.heroImage} inferSize="true" alt={entry.data.title} />
    <nav>
      <ul>
        {entry.data.tags.map((tag) => <Tag tag={tag} />)}
      </ul>
    </nav>
  </header>
  <Content />
  <a href="/blog">Back to blog</a>
</BaseLayout>
