---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Tag from "@components/Tag.astro";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <header>
    <h1 class="mb-3 font-bold">{entry.data.title}</h1>
    <Image src={entry.data.heroImage} inferSize="true" alt={entry.data.title} />
    <nav class="my-3">
      <ul>
        {entry.data.tags.map((tag) => <Tag tag={tag} />)}
      </ul>
    </nav>
  </header>
  <div class="prose prose-invert">
    <Content />
  </div>
  <a href="/blog">Back to blog</a>
</BaseLayout>
