---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Tags from "@components/Tags.astro";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <header>
    <h1 class="mb-3 font-bold leading-tight">{entry.data.title}</h1>
    <Image class="rounded-xl" src={entry.data.heroImage} inferSize="true" alt={entry.data.title} />
    <Tags tags={entry.data.tags} />
  </header>
  <div class="max-w-none prose prose-invert prose-table:overflow-x-auto prose-table:w-full prose-table:block">
    <Content />
  </div>
  <a href="/blog">Back to blog</a>
</BaseLayout>
