---
const { post } = Astro.props;
---

<article>
  <a href={`/blog/${post.slug}`}>
    <h3>{post.data.title}</h3>
  </a>
  
  <div class="meta">
    <span>
      📅 {new Date(post.data.publishedAt).toLocaleDateString("en-GB").split("/").join(".")}
    </span>
  </div>
  
  <p>{post.data.description}</p>
  
  <a href={`/blog/${post.slug}`} class="action-link">
    Read more
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
    </svg>
  </a>
</article>
