---
interface Props {
  year: string;
  title: string;
}

const { year, title } = Astro.props;
---

<article>
  <div class="meta">
    <time>{year}</time>
  </div>
  <h3>{title}</h3>

  <div>
    <slot />
  </div>
</article>

<style>
  article {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #f0f0f0;
  }

  article:last-child {
    border-bottom: none;
  }
</style>
