---
interface Props {
  year: string;
  title: string;
}

const { year, title } = Astro.props;
---

<div class="education-item">
  <div class="meta">{year}</div>
  <h3>{title}</h3>

  <div>
    <slot />
  </div>
</div>
