---
interface Props {
  year: string;
  title: string;
}

const { year, title } = Astro.props;
---

<li>
  <span></span>
  
  <div>
    <span>{year}</span>
    <h3>{title}</h3>
    
    <div>
      <slot />
    </div>
  </div>
</li>
