---
const currentYear = new Date().getFullYear();
---

<footer>
  <div>
    <p>© {currentYear} CuddlyBunion341. All rights reserved.</p>
    
    <div>
      <a 
        href="https://github.com/CuddlyBunion341" 
        target="_blank" 
        rel="noopener noreferrer"
      >
        <span>GitHub</span>
      </a>
      
      <a 
        href="https://www.linkedin.com/in/daniel-bengl-aa5225221/" 
        target="_blank" 
        rel="noopener noreferrer"
      >
        <span>LinkedIn</span>
      </a>

      <a 
        href="/rss.xml" 
        target="_blank" 
        rel="noopener noreferrer"
      >
        <span>RSS Feed</span>
      </a>
    </div>
  </div>
</footer>
