---
interface Props {
  icon: string;
  name: string;
  description: string;
}
const { icon, name, description } = Astro.props;
---

<li class="rounded p-2 bg-gray-800 shadow-md">
  <i class={icon}></i>
  <b>{name}</b>
  <p>{description}</p>
</li>
