---
interface Props {
  icon: string;
  name: string;
  description: string;
}
const { icon, name, description } = Astro.props;
---

<li class="my-1 rounded">
  <i class={icon}></i>
  <b>{name}:</b>
  {description}
</li>
