---
const { project } = Astro.props;
---

<article class="project-tile">
  <h2>
    <a href={`/projects/${project.slug}`}>{project.data.name}</a>
  </h2>
  <p>{project.data.description}</p>
  <ul>
    {project.data.tags.map((tag: string) => <li>{tag}</li>)}
  </ul>
</article>
