---
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<li
  class="bg-gray-800 my-2 p-3 rounded border border-gray-700 hover:bg-gray-700 hover:border-gray-100"
>
  <h3>{question}</h3>
  <p>{answer}</p>
</li>
