<h1 id="scramble">CuddlyBunion341</h1>

<script>
  const scrambleElement: HTMLElement = document.getElementById(
    "scramble",
  ) as HTMLElement;
  const originalString = scrambleElement.innerText;
  const chars = "_{}[]@#%&^*!$".split("");
  const scrambledState = Array(originalString.length).fill(false);

  function isScrambled() {
    return scrambledState.every((s) => s === true);
  }

  function isUnscrambled() {
    return scrambledState.every((s) => s === false);
  }

  function scramble() {
    if (isScrambled()) return;

    const index = Math.floor(Math.random() * originalString.length);

    if (scrambledState[index]) {
      scramble();
      return;
    }

    const before = scrambleElement.innerText.substring(0, index);
    const letter = chars[Math.floor(Math.random() * chars.length)];
    const after = scrambleElement.innerText.substring(index + 1);
    scrambleElement.innerText = `${before}${letter}${after}`;
    scrambledState[index] = true;

    setTimeout(scramble, 50);
  }

  scramble();
</script>
