---
import Scramble from "./Scramble.astro";
---

<section>
  <Scramble />
  <p>I'm a full-stack software engineer based in Zurich, Switzerland.</p>
  <p class="bg-gray-800 p-4 my-4 rounded">
    I am a passionate learner, problem solver and novice developer. Coding is my
    biggest hobby and arguably my biggest strength. I like challenging myself
    with new technologies outside of work hours and spending time with my
    friends in video-games.
  </p>
</section>
