---
import ProgrammingLanguage from "./ProgrammingLanguage.astro";
---

<section>
  <h2 class="my-2">Programming Languages</h2>

  <ul class="grid gap-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    <ProgrammingLanguage
      icon="devicon-python-plain"
      name="Python"
      description="Used for scripting and creating simple GUIs."
    />
    <ProgrammingLanguage
      icon="devicon-css3-plain"
      name="CSS"
      description="I know how to center a div"
    />
    <ProgrammingLanguage
      icon="devicon-javascript-plain"
      name="JavaScript"
      description="Used in the HTML5 Stack."
    />
    <ProgrammingLanguage
      icon="devicon-typescript-plain"
      name="TypeScript"
      description="Used for most hobby projects."
    />
    <ProgrammingLanguage
      icon="devicon-threejs-original"
      name="Three JS"
      description="Used in a Voxel game project."
    />
    <ProgrammingLanguage
      icon="devicon-opengl-plain"
      name="GLSL"
      description="Basic experience with shaders in combination with ThreeJs."
    />
    <ProgrammingLanguage
      icon="devicon-java-plain"
      name="Java"
      description="Learned OOP basics, Spring Boot, and GUIs with JavaSwing JavaFX at IMS."
    />
    <ProgrammingLanguage
      icon="devicon-ruby-plain"
      name="Ruby"
      description="Basic experience with Ruby on Rails."
    />
    <ProgrammingLanguage
      icon="devicon-rails-plain"
      name="Rails"
      description="Professionally used at Renuo."
    />
    <ProgrammingLanguage
      icon="devicon-lua-plain"
      name="Lua"
      description="Used for configuring Neovim."
    />
    <ProgrammingLanguage
      icon="devicon-azuresqldatabase-plain"
      name="SQL"
      description="Proficient in joining tables, adding conditions, and selecting the right data."
    />
  </ul>

  <h3>Text Editors</h3>

  <ul class="flex gap-3">
    <ProgrammingLanguage
      icon="devicon-neovim-plain"
      name="Neovim"
      description="Primary text editor."
    />
    <ProgrammingLanguage
      icon="devicon-vscode-plain"
      name="VSCode"
      description="Backup for Neovim."
    />
    <ProgrammingLanguage
      icon="devicon-rubymine-plain"
      name="Rubymine"
      description="Used at the start of my internship."
    />
  </ul>
</section>
