---
import EducationElement from "./EducationElement.astro";
---

<section>
  <h2>Education</h2>

  <ul>
    <EducationElement
      year="2019"
      title="Startup Bootcamp"
      tags={["Native", "Kotlin", "Java", "Json"]}
      >Attended a 2 week Universum Startup Bootcamp in Munich with folks from
      Russia organized by Google engineers. In a small team we quickly
      prototyped a android application for procrastinators. The project never
      went live.
    </EducationElement>

    <EducationElement
      year="2019 - 2023"
      title="Software Engineer EFZ"
      tags={["Java"]}
    >
      Economics / Software Enginnering high school in Zurich. Learning weeks in
      ZLI, IT lessons at BZZ
      <ul>
        <li>Grade average 4.9</li>
        <li>Engineering average 5.4</li>
      </ul>
    </EducationElement>

    <EducationElement
      year="2023 - 2024"
      title="Software Engineering Internship at Renuo"
      tags={["Ruby on Rails", "React", "Bootstrap", "Stimulus", "Turbo"]}
      >Spezialized Web development, Ruby on Rails. Various smaller client projects. Attended conferences.
    </EducationElement>
  </ul>
</section>
