<section>
  <h2>Projects</h2>

  <p>
    My work-related projects are not very interesting and school projects mild,
    so here is a collection of my hobby projects:
  </p>

  <!-- <ProjectCardGrid /> -->
</section>
