---
import QA from "./QA.astro";
---

<section>
  <h2 class="text-2xl font-bold mb-6 leading-tight">
    Frequently Asked Questions
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <QA
      question="Random tip?"
      answer="Remap capslock to escape, it's a game changer for vim users."
    />
    <QA
      question="Why CB341?"
      answer="CuddlyBunion341 is the name that was generated on my XBOX 360 back in the day. I liked it and stuck with it."
    />
    <QA
      question="Why no Instagram or Facebook?"
      answer="I prefer things over people. I like Reddit because it focuses on communities over individuals."
    />
    <QA
      question="What is your view on politics?"
      answer="I prefer not to get involved. I have a hard time trusting politicians."
    />
    <QA
      question="What is the best game of all time?"
      answer="Minecraft without hesitation. You really gotta try it."
    />
  </div>
</section>
