<section>
  <div>
    <h2>Hi, I am cb341</h2>

    <p>
      I am a
      <a
        href="https://github.com/cb341"
        target="_blank"
        rel="noopener noreferrer"
      >
        software engineer
      </a>
      at TU Wien, Austria.
    </p>

    <p>
      I enjoy learning about new technologies and building things. I am
      particularly interested in web development, automation, and open-source
      software.
    </p>
  </div>
</section>
