---
interface Props {
  tags: string[];
  path: (tag: string) => string;
}

const { tags, path } = Astro.props;
---

{
  tags.length > 0 && (
    <nav class="tags">
      {tags.map((tag) => (
        <a href={path(tag)} class="tag">
          {tag}
        </a>
      ))}
    </nav>
  )
}
