---
interface Props {
  tags: string[];
  path: (tag: string) => string;
  taggedCount?: (tag: string) => number;
  activeTag?: string;
}

const { tags, path, taggedCount, activeTag } = Astro.props;
---

{
  tags.length > 0 && (
    <nav class="tags">
      {tags.map((tag) => (
        <a 
          href={path(tag)} 
          class={`tag ${activeTag === tag ? 'active' : ''}`}
        >
          {tag}
          {taggedCount && (
            <span class="tag-count">({taggedCount(tag)})</span>
          )}
        </a>
      ))}
    </nav>
  )
}
