---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectCardGrid from "../../components/ProjectCardGrid.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("project");
---

<BaseLayout title="Projects">
  <div>
    <h1>Projects</h1>
    <p>A collection of personal projects I've worked on.</p>
    
    <div>
      {projects.map((project) => (
        <ProjectCardGrid project={project} />
      ))}
    </div>
  </div>
</BaseLayout>
