---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "@components/ProjectCard.astro";

export async function getStaticPaths() {
  const allProjects = await getCollection("projects");
  const projectTags = allProjects.map((project) => project.data.tags).flat();
  const uniqueProjectTags = [...new Set(projectTags)];

  return uniqueProjectTags.map((tag) => {
    const taggedProjects = allProjects.filter((project) =>
      project.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { taggedProjects },
    };
  });
}

const { tag } = Astro.params;
const { taggedProjects } = Astro.props;
---

<BaseLayout>
  <h1>{taggedProjects.length} Projects tagged with <Tag tag={tag} /></h1>
  {
    taggedProjects.map((project) => (
    <ProjectCard project={project} key={project.slug} />
    ))
  }
</BaseLayout>
