---
const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav class="p-6 border-b">
      <div class="container">
        <a href="/" class="font-bold">CB341</a>
        <div class="float-right">
          <a class="underline decoration-orange-200 ml-2 font-bold" href="/">Home</a>
          <a class="underline decoration-orange-200 ml-2 font-bold" href="/blog">Blog</a>
          <a class="underline decoration-orange-200 ml-2 font-bold" href="/projects">Projects</a>
        </div>
      </div>
    </nav>
    <main class="container mx-auto">
      <slot />
    </main>
  </body>
</html>
