---
const { title } = Astro.props.frontmatter || Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="text-center my-2">
          <a class="underline decoration-blue-200 ml-2 font-bold" href="/"
            >Home</a
          >
          <a class="underline decoration-blue-200 ml-2 font-bold" href="/blog"
            >Blog</a
          >
          <a
            class="underline decoration-blue-200 ml-2 font-bold"
            href="/projects">Projects</a
          >
        </nav>
            <nav class="py-2 border-y text-lg">
          <a href="/" class="font-bold">
            <i class="devicon-astro-plain"></i>
            CB341.DEV</a
          >
          <div class="float-right">
            <a href="https://www.linkedin.com/in/daniel-bengl-aa5225221/">
              <i class="devicon-linkedin-plain"></i>
            </a>
            <a href="https://github.com/CuddlyBunion341">
              <i class="devicon-github-original"></i></a
            >
          </div>
        </nav>
      </div>
    </header>
    <main class="container mx-auto">
      <slot />
    </main>
  </body>
</html>
